<div class="dashboard">
  <header>
    <h1>Hi {{ userName }}</h1>
    <button type="button" ng-click="logout()">Logout</button>
  </header>
  <div id="action-bar">
    <button type="button" ng-click="gotoNewQuestion()">Add a Question</button>
    <label>
      Search: <input type="text" ng-model="search">
    </label>
  </div>
  <table>
    <thead>
      <tr>
        <th>Question</th><th>Answers</th><th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions | filter:search">
        <td>{{ question['question'] }}</td><td>{{ question['answerCount'] }}</td><td><button type="button" ng-click="gotoQuestion(question['_id'])">Show</button> <button type="button" ng-click="gotoAnswer(question['_id'])">Answer</button></td>
      </tr>
    </tbody>
  </table>
</div>
